.icon-close {
    color: #fff;
    font-family: 'Press Start 2P', sans-serif;
    text-decoration: none;
    font-size: 30px;
    transition: transform 100ms linear;
}

.icon-close:hover {
    transform: scale(1.3);
}