.main-header {
    display: flex;
    justify-content: space-between;
    background-color: #7F71D9;
    border-bottom: 10px solid #463F73;
    padding: 10px 20px;
    
   }

.main-header .logo-header {
    width: 60px;
    height: 60px;
}