.section {
    background-color: #B472E8;
    padding-top: 40px;
    padding-bottom: 100px;
    border-bottom: 10px solid #e757ca;

}

.section .main-title {
    margin-bottom: 70px;
}

.section.-second {
    background-color: #000;
}

